.kostka {
    -fx-background-color: lightgray;
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.zelenabarva {
    -fx-background-color: lime;
}
.oranzovabarva {
    -fx-background-color: orange;
}
.bilabarva {
    -fx-background-color: white;
}
.cervenabarva {
    -fx-background-color: red;
}
.zlutabarva {
    -fx-background-color: yellow;
}
.modrabarva {
    -fx-background-color: blue;
}